@use "../../App.scss";


// .contentContainer {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-around;
// }

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                        "a b c"
                        "d e f"
                        "g h i"
}

.sectionContainer h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    margin-top:10px;
    color: App.$darkspringgreen;
    font-size: App.$large-2;
    font-family: App.$font-nunito;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
}