@use "../../App.scss";

// .productDisplayListContainer {
//     display: flex;
//     justify-content: space-around;
//     // grid-area: span;
// }

// .productDisplayListContainer div{
    // padding-left: 10px;
    // padding-right: 10px;
    // margin-left: 10px;
// }

.productWrapper{
    margin:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 480px);
    grid-template-areas:
                    "a b" 
                    "a c"
                    "d d"
                    "f e"
                    "g e"
                    "h h"
                    "h h";
    grid-gap: 10px;
}

.productWrapper > div {
    // border: 3px solid black;
    // background: linear-gradient(15deg, rgb(207, 206, 206), white);
    background: linear-gradient(135deg, white, #a0ffc9);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2)
}

.productWrapper div:nth-child(1) {
    width:auto;
    grid-area: a;
}
.productWrapper div:nth-child(2) {
    width:auto;
    grid-area: b;
}
.productWrapper div:nth-child(3) {
    width:auto;
    grid-area: c;
}
.productWrapper div:nth-child(4) {
    width:auto;
    grid-area: d;
}
.productWrapper div:nth-child(5) {
    width:auto;
    grid-area: e;
}
.productWrapper div:nth-child(6) {
    width:auto;
    grid-area: f;
}
.productWrapper div:nth-child(7) {
    width:auto;
    grid-area: g;
}
.productWrapper div:nth-child(8) {
    width:auto;
    grid-area: h;
}