@use "../../App.scss";

.homeHeroContainer {
    position:relative;
    background-image: url("../../images/fruits-vegetables.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeHeroMask {
    position:absolute;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    width:100%;
    height: 700px;
}

.homeHeroHeadingContainer {
    z-index: 11;
    width: 65rem;

    a {
        text-decoration: none;
        color: App.$white;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: App.$springgreen
        }
        
    }

    h2 {
        font-size: App.$large-3;
        font-family: App.$font-poppins;
        word-spacing: 3px;
    }

}

 


.homeHeroHeadingContainer h4 {
    font-size: App.$large-1;
    font-family: App.$font-poppins;
    word-spacing: 3px;
}

.homeHeroContainer {
    color: App.$white;
}
