

.productsPageWrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1000px;

    div:nth-child(1) {
        background-color: red;
    }
    div:nth-child(2) {
        background-color: blue;
        
    }
}