@use "../../App.scss";


.filterBox {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    background-color: rgb(186, 180, 180);
    cursor: pointer;

    h3 {
        padding: 10px;
    }

}

.filterHeading > span {
    font-family: App.$font-nunito;
    font-size: App.$medium-1;
}

.filterHeadingShow > span {
    font-family: App.$font-nunito;
    font-size: App.$medium-1;
}

.filterHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, white, #a0ffc9);
}

.filterHeadingShow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #a0ffc9;
}



.filterOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s ease-out;
    background-color: rgb(234, 217, 217);

}

.filterOptionsContainerShow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 10px;
    overflow: hidden;
    max-height: 500px;
    transition: max-height 1s ease-out;
    background-color: App.$darkerjadewaterpalacegreen;
}

.filterOptionsContainerShow * {
    margin: 1px;
}

// style={{ maxHeight: isOpen ? "500px" : "0", transition: "max-height 0.5s ease-in-out"}}