@use "../../App.scss";

.cartItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // Give the card a realistic shadow like a paper card
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px;
    

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        margin: 10px;
    }

    .cartItemDetailsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}