@use "../../App.scss";

.bottomNavigationContainer{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: App.$darkspringgreen;
    * {
        font-family: App.$font-nunito;
    }
}

.bottomNavigationContainer a {
    text-decoration: none;
    color: App.$white;
    font-size: App.$medium-1;
    // padding-top: 10px;
    // padding-bottom: 10px;
    padding: 10px;
    padding-left: 75px;
    padding-right: 75px;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
        background-color: App.$white;
        color: App.$darkspringgreen
    }
}

.sidebarContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

// .sidebarContainer h1 {
//     color: App.$darkspringgreen;
// }

// .sidebarContainer h4 {
//     font-size: App.$medium-1;
// }

// .sidebarGroupContainer {
//     display: flex;
//     flex-direction: column;
//     justify-items: center;
// }

.sidebarContainer div {
    color: App.$darkspringgreen;
    font-size: App.$medium-1;
    font-weight: 800;
}
.sidebarContainer ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: 800;
}

.sidebarContainer li {
    padding: 10px;
    background-color: white;
}


.sidebarHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: App.$darkspringgreen;
    padding: 15px;
}

.sidebarHeaderContainer span {
    color: App.$white;
    margin-left: 15px
}

.sidebarContainer a {
    text-decoration: none;
    color: App.$lighterdarkspringgreen;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // padding-left: 10px;
    // padding-right: 100px;
    font-size: App.$small-3;
    transition: color 0.2s ease;
    &:hover {
        color: App.$darkspringgreen;
    }
    padding: white
}
