@use "./shared.scss";
@use "../App.scss";

.ctaContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroHeading {

}

.ctaBtnContainer {

}