@use "./shared.scss";
@use "../App.scss";

.ctaContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40%;
    z-index: 1;
}

.heroHeading {

}

.ctaBtnContainer {

}