@use "../App.scss";

.productDisplayListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-area: span;
}

.productDisplayListContainer div{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}