@use "../App.scss";

// Brand Mixin
@mixin brandcontainer() {
  position:absolute;
  display:flex;
  align-items: center;
  top: 0;
  left: 0;
  padding: 20px;
}

@mixin brandlogo() {
  width: 100px;
  height:100%;
  margin-left: 10px;
}

@mixin brandtextlogo() {
  width: 300px;
  margin-left: 10px;
}

// Button Mixins
@mixin basicGrassGreenBtn() {
  width: 218px;
  height: 68px;
  border-radius: App.$midround;
  font-size: App.$medium-3;
  font-weight: 400;
  color: App.$white;
  background-color: App.$grassgreen;
  border-color: App.$grassgreen;
}

@mixin basicDarkSpringGreenBtn() {

}