@use "../App.scss";

// // Brand Mixin
// @mixin brandcontainer() {
//   position:absolute;
//   display:flex;
//   align-items: center;
//   top: 0;
//   left: 0;
//   padding: 20px;
// }

// @mixin brandlogo() {
//   width: 100px;
//   height:100%;
//   margin-left: 10px;
// }

// @mixin brandtextlogo() {
//   width: 300px;
//   margin-left: 10px;
// }

// Button Mixins
@mixin basebtn1() {
  border-radius: App.$midround;
  font-size: App.$medium-3;
  color: App.$white;
  font-weight: 400;
}
@mixin basicgrassgreenbtn() {
  @include basebtn1();
  background-color: App.$grassgreen;
  border-color: App.$grassgreen;
}

@mixin basicdarkspringgreenbtn() {
  @include basebtn1();
  background-color: App.$darkspringgreen;
  border-color: App.$darkspringgreen;
}

// Heading Mixins
@mixin extralargeheading() {
  font-size: App.$extralarge-2;
  color: App.$darkspringgreen;
  font-weight: 1000;
}