@use "../../App.scss";


.registerModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .registerFormContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .fieldLabelContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: App.$medium-1;
        font-weight: 600;
        color: App.$darkspringgreen;
        font-family: App.$font-nunito;
        
        span {
            margin-right: 30px;
            width: 160px;
            margin: 10px;
        }

    }

    .fieldContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: App.$medium-1;
        font-weight: 600;
        color: App.$darkspringgreen;
        font-family: App.$font-nunito;
        
        span {
            margin-right: 30px;
        }

        input {
            margin: 10px;
        }
    }

    .registerHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: App.$large-1;
        font-weight: 600;
        color: App.$darkspringgreen;
        font-family: App.$font-nunito;
        margin-bottom: 20px;
        padding: 20px;
        border-bottom: 5px solid App.$lighterdarkspringgreen;
        width: 100%;
    }

    .registerField {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: App.$medium-1;
        font-weight: 600;
        color: App.$darkspringgreen;
        font-family: App.$font-nunito;
        
        span {
            margin-right: 30px;
        }
    }

    .registerBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 20px;
        font-size: App.$medium-1;
        font-weight: 600;
        color: App.$white;
        font-family: App.$font-nunito;
        background-color: App.$darkspringgreen;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: App.$lighterdarkspringgreen;
        }
    }

    .switchToLoginLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: App.$medium-1;
        font-weight: 600;
        color: App.$darkspringgreen;
        font-family: App.$font-nunito;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: App.$lighterdarkspringgreen;
        }
    }
}